tensorflow>=2.12
numpy
opencv-python
pillow
pyttsx3
SpeechRecognition
deep-translator
mediapipe
pyaudio; platform_system == "Windows"
pyaudio; platform_system == "Darwin"
pyaudio; platform_system == "Linux"
tqdm
groq
python-dotenv
